.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(220, 38, 38, 0.7) transparent;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #dc2626, #b91c1c);
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ef4444, #dc2626);
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}
